.button {
  display: block;
  background: none;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.button__color_red,
.button__color_green,
.button__color_white,
.button__bordered_green,
.button__color_transparent {
  border-radius: 2px;
}

.button__color_blue,
.header .site-navigation__list li {
  text-transform: capitalize;
  background-color: $color__blue;

  &:hover {
    background-color: $color__blue-dark_hover;
  }

  &:active {
    background-color: $color__blue-dark_active;
  }
}

.button__color_white {
  background-color: #fff;
  color: #000;
}

.button__color_green {
  text-transform: capitalize;
  background-color: $color__green;
  box-shadow: 0 3px 0 #367315;

  &:hover {
    background-color: $color__green_hover;
  }

  &:active {
    background-color: $color__green_active;
  }
}

.button__bordered_green {

}

.button__color_transparent {
  background-color: rgba(0,0,0,.1);
  width: 135px;
  padding: 10px;

  &:hover {
    background-color: rgba(0,0,0,.2);
  }

  &:active {
    background-color: rgba(0,0,0,.3);
  }
}

.button__color_red,
.button__highlight_red,
a .logo {
  padding: 12px 20px;
  font-size: 14px;
  line-height: 18px;
  background-color: $color__red;

  &:hover {
    background-color: $color__red_hover;
  }

  &:active {
    background-color: $color__red_active;
  }
}

.button__highlight_red {
  font-size: inherit;
  line-height: inherit;
}

input {
  font-size: inherit;
  line-height: inherit;
}
