

.promo__card_materials {
  background-image: url('../img/svg/icon-1.svg');
  background-position: 213px 30px;
}

.promo__card_tools {
  background-image: url('../img/svg/icon-2.svg');
  background-position: 197px 33px;
}

.promo__card_mechanics {
  background-image: url('../img/svg/icon-3.svg');
  background-position: 190px 31px;
}

.promo__card_sales {
  background-image: url('../img/svg/icon-4.svg');
  background-position: 196px 26px;
}

.promo__card_delivery {
  background-image: url('../img/svg/icon-5.svg');
  background-position: 191px 32px;
}
