

.popular-manufactures {
  margin-bottom: 85px;
}

.manufactures__list {

  li {
    height: 140px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      display: block;
    }
  }
}

.services {
  padding-top: 64px;
  padding-bottom: 102px;
}

.services__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-top: 66px;

  input[type="radio"]:checked ~ label {
    background-color: #fff;
    border-color: #fff;
    color: $color__blue;
  }

  input[type="radio"]:checked ~ .services__slide {
    display: block;
  }

  label {
    display: block;
    padding: 16px 20px 17px;
    width: 200px;
    background-color: $color__blue;
    color: #fff;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    border-top: 1px solid #4d637b;
    border-bottom: 1px solid #33445b;

    &:hover {
      background-color: $color__blue-dark_hover;
    }

    &:active {
      background-color: $color__blue-dark_active;
    }
  }
}

.services__slide {
  display: none;
  position: absolute;
  right: 0; left: 240px;
  top: -40px;
  bottom: -40px;
  padding-top: 37px;
  padding-left: 80px;

  .service__title {
    font-size: 36px;
    line-height: 36px;
    color: $color__blue;
    text-transform: uppercase;
  }

  img {
    position: absolute;
    bottom: -62px;
    right: 0;
    // z-index: -1;
  }
}


.company-info {
  display: flex;
  justify-content: space-between;
  padding-top: 78px;
  padding-bottom: 86px;

  p + p {
    margin-top: 25px;
  }

  p + ul {
    margin-top: 20px;
  }

  ul {
    font-size: 18px;
    line-height: 20px;
    padding-left: 36px;
  }

  li {
    position: relative;

    &:before {
      position: absolute;
      left: -36px;
      top: 9px;
      content: "";
      width: 11px; height: 2px;
      background-color: $color__red;
    }
  }

  li + li {
    margin-top: 18px;
  }

  .button {
    position: absolute;
    bottom: 0;
  }
}

.about-company {
  position: relative;
  width: 540px;
  padding-bottom: 75px;

  .button {
    width: 220px;
  }
}

.our-contacts {
  position: relative;
  width: 300px;

  .map_mini {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .button {
    width: 300px;
  }
}
