.modal__map,
.modal__write-us,
.modal__buying {
  display: none;
  box-shadow: $shadow__item;
}

.modal__block {
  position: fixed;
  left: 0; right: 0;
  top: 0; bottom: 0;
  padding: 46px 80px 0 80px;
  margin: auto;
  width: 620px;
  background-color: #fff;
  box-sizing: border-box;
  border-top: 7px solid $color__red;
}

.modal__footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 37px 80px;
  padding-bottom: 37px;
  background-color: #f4f4f4;

  .button {
    flex-grow: 1;

    + .button {
      margin-left: 20px;
    }
  }
}

.modal__close {
  position: absolute;
  top: 9px; right: 9px;
  background: none;
  width: 21px; height: 21px;
  border: none;
  outline: none;

  &:hover {
    &:before, &:after {
      background-color: $color__red_hover;
    }
  }

  &:before, &:after {
    position: absolute;
    top: -5px; right: 7px;
    content: "";
    display: block;
    width: 3px;
    height: 27px;
    background-color: $color__red;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.modal__map {
  position: absolute;
  // display: block;
  left: -640px;
  top: -39px;

  img {
    display: block;
  }
}

.modal__write-us {
  // display: block;
  height: 430px;
  padding-top: 45px;

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 150px;
  }

  .input-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      margin-left: 2px;
      font-weight: bold;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  input, textarea {
    border: 2px solid #dee3e4;
    font-family: $font__alternative;
    font-size: 14px;
    padding: 9px 6px;
    line-height: 18px;
    box-sizing: border-box;
  }

  input {
    width: 220px;
  }

  textarea {
    width: 100%;
    height: 110px;
    resize: none;
  }
}

.modal__buying {
  // display: block;
  padding-top: 50px;
  height: 283px;
}

.modal__info_success {
  font-size: 30px;
  line-height: 64px;
  display: flex;
  align-items: center;
  background-size: 64px 64px;

  svg {
    margin-right: 44px;
  }
}
