$font__main: Cuprum, "Times New Roman", serif;
$font__alternative: "PT Sans;", Arial, sans-serif;

$color__blue: #32425c;
$color__blue-dark: #293449;
$color__blue-dark_hover: #212a3a;
$color__blue-dark_active: #161d29;

$color__green: #63a63e;
$color__green_hover: #5fbb2d;
$color__green_active: #518534;

$color__red: #ee3643;
$color__red_dark: #b52933;
$color__red_hover: #ca2c37;
$color__red_active: #ba2732;
$color__red_border-hover: #9a212a;
$color__red_border-active: #8e1e26;

$color__gold: #ffda96;
$color__gold_light: #f9f5f0;

$color__gray: #f5f8fa;

$color__promo-1: #ffbf47;
$color__promo-2: #3bbce3;
$color__promo-3: #dc91d8;
$color__promo-4: #8ed78f;

$shadow__item: 0 5px 15px rgba(0,0,0,.3);
